@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--col);
  text-align: center;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
:root {
  --bg: black;
  --col: white;
  --fg: #ff7c44;
}

html,
body {
  height: 100%;
  background-color: var(--bg);
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-inline: 30px;
  margin-top: 40px;
}
.content .categories {
  position: relative;
  height: 700px;
  margin-top: 10px;
}
.categories h2 {
  min-height: 40px;
  background-color: var(--fg);
  padding: 5px;
  border-radius: 10px;
  font-weight: 400;
  border-bottom-left-radius: 0px;
}
.content .categories::before {
  content: "";
  top: 10px;
  position: absolute;
  border-left: 3px solid var(--fg);
  left: 0;

  height: 800px;
}
.content-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}
.content-ul li {
  position: relative;
  text-align: left;
  cursor: pointer;
}
.content-ul li .s-no {
  background-color: var(--fg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  padding: 5px;
  left: -24px;
  bottom: -14px;
  border: 8px solid black;
}
.content-ul li .rooms {
  margin-left: 30px;
  display: block;
  font-family: "Poppins", sans-serif;
}

.video-container {
  position: fixed;
  display: none;
  width: 100vw;
  height: 110vh;
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}
video {
  max-height: 50%;
  min-height: auto;
  max-width: 80%;
  min-width: auto;
  border-radius: 10px;
}
.title-span {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.spinner {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-top: 2px solid;
  border-right: 2px solid transparent;

  animation: spin 1.2s linear infinite;
}

/* button styling */
.button-parent {
  height: auto;
  width: 50%;
  column-gap: 20px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.quitSymbol,
.replaySymbol,
.pauseSymbol {
  height: 40px;
  color: white;

  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}
.quitText,
.replayText,
.pauseText {
  font-weight: 700;
  background-color: rgba(128, 128, 128, 0.396);
  height: 25px;
  width: 55px;
  border-radius: 5px;
}
.pauseParent,
.quitParent,
.replayParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goBack {
  display: flex;
  position: fixed;
  top: 10px;
  right: 30px;
  background-color: rgb(78, 71, 71);
  flex-direction: column;
  width: 80px;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 640px) {
  .content {
    grid-template-columns: 0.7fr;
    row-gap: 150px;
    place-content: center;
  }
  video {
    max-width: 100%;
    min-width: auto;
    background-color: #ff7c44;
    border-radius: 10px;
  }
  .quitSymbol,
  .replaySymbol,
  .pauseSymbol {
    height: 20px;
    width: 20px;
  }

  .title-span {
    font-weight: bold;
    font-size: 30px;
  }
  .button-parent {
    margin-inline: 30px;

    justify-content: space-around;
  }
  .goBack {
    width: 60px;
    height: 50px;
    right: 3px;
  }
}
@media screen and ((min-width: 640px) and (max-width:740px)) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 150px;
  }
  .quitSymbol,
  .replaySymbol,
  .pauseSymbol {
    height: 30px;
    width: 30px;
  }
  video {
    max-width: 80%;
    min-width: auto;
    background-color: #ff7c44;
    border-radius: 10px;
  }
}
@media screen and ((max-width: 840px) and (min-width:740px)) {
  .content {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 150px;
  }
  video {
    max-width: 80%;
    min-width: auto;
    background-color: #ff7c44;
    border-radius: 10px;
  }
  .quitSymbol,
  .replaySymbol,
  .pauseSymbol {
    height: 25px;
    width: 25px;
  }
}